[submodule "fb-pruner/lib/easel"]
	path = fbpruner/lib/easel
	url = https://github.com/EddyRivasLab/easel.git
[submodule "fb-pruner/lib/MMseqs2"]
	path = fbpruner/lib/MMseqs2
	url = https://github.com/soedinglab/MMseqs2.git
[submodule "fb-pruner/lib/libbmp"]
	path = fbpruner/lib/libbmp
	url = https://github.com/marc-q/libbmp.git
