# macOS files
*.DS_Store

# sublime project files
*.sublime-project
*.sublime-workspace

# test output folders
*/test_output/*
*/output/*

# binary folders
more-tools/hmmer-test/easel/
fb-pruner/build/
more-tools/hmmer-test/build/
more-tools/mmseqs-test/build/
more-tools/mmseqs-pruner-plus/build/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug
*.dSYM
.DS_Store
*.swp

# programs
*.depend
*.swp
