# operating system files
*.DS_Store

# developer files
.vscode
*.sublime-project
*.sublime-workspace
*.code-workspace

# temporary working folders
*/test_output/*
*/output/*
*/test-db/*
*/testing/*
*/testing/*
*/tmp/*

# binary folders
build/
build-debug/
lib/
tools/

# Example files
examples/tmp-mmoreseqs
examples/debugout-mmore
examples/*.out
examples/*.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.c.d

# Compiled Dynamic libraries
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug
*.dSYM
*.swp
*.gmon

# programs
*.depend
*.swp

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/*.cbp
DartConfiguration.tcl

# Exceptions
!my_make/Makefile
!my_make/Makefile.am
!my_make/Makefile.in
