[submodule "mmore/lib/easel"]
	path = mmore/lib/easel
	url = https://github.com/EddyRivasLab/easel.git
[submodule "mmore/lib/MMseqs2"]
	path = mmore/lib/MMseqs2
	url = https://github.com/soedinglab/MMseqs2.git
