Makefile
.cmake/
.idea/

# operating system files
*.DS_Store

# developer files
.vscode
*.sublime-project
*.sublime-workspace
*.code-workspace

# binary folders
build/
build-debug/
lib/
tools/

# Example files
example/*
!example/db
!example/*.sh
!example/tmp-mmoreseqs-golden

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.c.d

# Compiled Dynamic libraries
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug
*.dSYM
*.swp
*.gmon

# programs
*.depend
*.swp

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/*.cbp
DartConfiguration.tcl

# Exceptions
!my_make/Makefile
!my_make/Makefile.am
!my_make/Makefile.in
